@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-icon-muted {
    --tw-bg-opacity: 1;
    background-color: rgba(
      var(--icon-muted),
      var(--tw-bg-opacity)
    ); /* Adjust the color values as needed */
  }
  .bg-icon-active {
    --tw-bg-opacity: 1;
    background-color: rgba(
      var(--icon-active),
      var(--tw-bg-opacity)
    ); /* Adjust the color values as needed */
  }
  .fill-card-hover {
    fill: rgba(
      var(--card-hover),
      var(--tw-fill-opacity, 1)
    ); /* Adjust the color values as needed */
  }
}
@layer base {
  :root {
    --background: 0, 0%, 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 210, 40%, 96%;
    --card-hover: 214, 32%, 91%;
    --card-foreground: 215, 19%, 35%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 215, 19%, 35%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --icon: 215, 20%, 65%;
    --icon-muted: 213, 27%, 84%;
    --icon-active: 215, 25%, 27%;

    /* --border: 214.3 31.8% 91.4%; */
    --border: 210, 40%, 96%;
    --border-hover: 213, 27%, 84%;

    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0, 0%, 0%;
    --foreground: 210 40% 98%;

    --card: 217, 33%, 17%;
    --card-hover: 215, 25%, 27%;
    --card-foreground: 215, 20%, 65%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 215, 20%, 65%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --icon: 213, 27%, 84%;
    --icon-muted: 215, 25%, 27%;
    --icon-active: 210, 40%, 98%;

    /* --border: 217.2 32.6% 17.5%; */
    --border: 215, 25%, 27%;
    --border-hover: 215, 16%, 47%;

    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground scroll-smooth;
  }

  h1 {
    @apply text-[96px] font-medium;
    line-height: 112px;
  }
  h2 {
    @apply text-[72px] font-medium;
    line-height: 88px;
  }
  h3 {
    @apply text-[60px] font-medium;
    line-height: 72px;
  }
  h4 {
    @apply text-[48px] font-medium;
    line-height: 60px;
  }
  h5 {
    @apply text-[36px] font-medium;
    line-height: 40px;
  }
  h6 {
    @apply text-[30px] font-medium;
    line-height: 36px;
  }
}

.font-instrument-sans {
  font-family: 'Instrument Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

/* Circle progress */
.circle-progress {
  @apply fill-none stroke-primary;
  stroke-linecap: round;
  stroke-linejoin: round;
}

/* Swiper pagination style */
.teams .swiper-pagination {
  @apply -mb-2.5;
}

.teams .swiper-pagination-bullet {
  @apply w-2 h-2 bg-icon-muted transition-all duration-300;
}

.teams .swiper-pagination-bullet-active {
  @apply w-3 h-3 bg-icon-active;
}

/* about slider */
.aboutUsTestimonials .swiper-pagination {
  @apply !bottom-[100px] md:!bottom-[120px];
}

.aboutUsTestimonials .swiper-pagination-bullet {
  @apply w-8 md:w-[60px] h-10 md:h-[60px] rounded-full transition-all duration-100 overflow-hidden;
}

.aboutUsTestimonials .swiper-pagination-bullet-active {
  @apply w-12 md:w-[100px] h-12 md:h-[100px] shadow;
}

/* faqs-cta */
.faqs-cta {
  background: var(
    --tailwindcss-color-palette-slate-gradient-2,
    linear-gradient(90deg, rgba(241, 245, 249, 0) 0%, #c6d6e7 100%)
  );
}

/* apex chart style */
.apexcharts-canvas .apexcharts-tooltip {
  @apply dark:!text-primary-foreground;
}
/* apexcharts-tooltip-title */
/* apexcharts-tooltip-series-group */
.apexcharts-canvas .apexcharts-tooltip-marker {
  @apply dark:!bg-primary-foreground;
}
/* apexcharts-tooltip-text */

.actionLessLineChart .apexcharts-xaxis,
.apexcharts-xaxis-tick {
  display: none !important;
}

/* vectorMap style */
.vectorMap svg path {
  @apply outline-none cursor-pointer fill-card-hover hover:fill-primary;
}

/* Code result viewer */
.code-result pre {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
